package {{package}};

{{^isOpenFeign}}
import org.springframework.cloud.netflix.feign.FeignClient;
{{/isOpenFeign}}
{{#isOpenFeign}}
import org.springframework.cloud.openfeign.FeignClient;
{{/isOpenFeign}}

{{=<% %>=}}
@FeignClient(name="${<%artifactId%>:<%groupId%>-<%artifactId%>}", url="${<%artifactId%>-url:}")
<%={{ }}=%>
public interface {{classname}}Client extends {{classname}} {
}